
<div class="p-2 bd-highlight">Flex item</div><br>
<div class="p-2 bd-highlight">Flex item</div>
<div class="p-2 bd-highlight">Flex item</div>
<div class="p-2 bd-highlight">Flex item</div>
<div class="p-2 bd-highlight">Flex item</div>
<div class="p-2 bd-highlight">Flex item</div>

<form>
  <div class="form-group">
    <label for="formControlRange">Example Range input</label><br>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
</form>

