<p id="notice"><%= notice %></p>

<h1 class="pick">당신의 초콜릿</h1>
<div class="d-flex justify-content-center">
<% @chocolates.each_with_index do |chocolate, index| %>
  <div class="chocolate">
    <%= link_to chocolate do%>
      <%= image_tag "#{@image[index]}", class: 'img-fluid' %>
    <% end %>
  </div>
<% end %>
</div>
    
<br>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id='title'></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id='content'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
