<p id="notice"><%= notice %></p>

<h1 class="pick">당신의 초콜릿</h1>
<div class="d-flex justify-content-center">
<% @chocolates.each_with_index do |chocolate, index| %>
  <div class="chocolate">
    <%= link_to chocolate do%>
      <%= image_tag "#{@image[index]}", class: 'img-fluid' %>
    <% end %>
  </div>
<% end %>
</div>
    
<br>

